<div>
  <div *ngFor='let product of (products$ | async)'>
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{product.name}}</mat-card-title>
        <mat-card-subtitle>{{product.price | currency:'UAH':'symbol-narrow'}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
      <mat-card-actions>
        <button (click)="onBuy($event, product)" [disabled]="!product.isAvailable" mat-button [id]="'buy ' + product.name">Buy</button>
        <button (click)="onViewInfo($event, product)" mat-button [id]="'info ' + product.name">Info</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
